.orders_show{
  img{
    width:100%;
    padding: 0px;
    border-radius: 0px;
  }
  .shadow_background{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index:9999;
  }
  .confirmation_box{
    label{
      padding: 10px;
    }
    width: 600px;
    height: 70%;
    background-color: white;
    opacity: 1;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    z-index:10000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
    .headline{
      width:100%;
      height:50px;
      text-align: center;
      color: white;
      background-color: black;
      padding: 10px;
      h3{
        margin-top: 2px;
      }
    }
    .content{
      padding: 20px;
    }
    th, td{
      padding-right: 100px;
    }
    .price{
      padding-right: 0px;
    }
    .confirm{
      font-size: 20px;
      padding: 12px;
      right: 50px;
      bottom: 37px;
      color: white;
      background-color: red;
    }
  }
  .to_checkout{
    position:fixed;
    font-size: 20px;
    padding: 12px;
    right: 50px;
    bottom: 37px;
    background-color: red;
    color: white;
  }
  .shop_more{
    position:fixed;
    font-size: 20px;
    padding: 12px;
    right: 257px;
    bottom: 37px;
    background-color: red;
  }
}